<div class="container-fluid d-none d-lg-block">
  <div class="row">
    <div class="col-xl-6 col-lg-6 text-center">
      <img src="https://preview.ibb.co/eXUPsm/mod2.png" class="img-fluid" alt="Responsive image">
    </div>
     <div class="col-xl-6 col-lg-6 align-self-center">
      <h1 class="display-4">The future is here</h1>
      <p class="lead mt-3">Nunc ac augue tempor, porttitor tortor vel, mollis magna.<br> Mauris non elementum urna, quis fringilla massa.</p>
      <button type="button" class="btn btn-outline-primary mt-5">Pre-order Hero today</button>
    </div>
  </div>
</div>
<%# lg and xl above %>

<div class="container d-lg-none">
  <div class="row">
<div class="col-md-12 col-sm-12 text-center">
      <h1 class="display-4 mt-5">Lorem ipsum dolor sit amet</h1>
      <p class="lead mt-3">Nunc ac augue tempor, porttitor tortor vel, mollis magna.Mauris non elementum urna, quis fringilla massa.</p>
      <button type="button" class="btn btn-outline-primary mt-4">Pre-order Hero today</button>
    </div>
    <div class="col-md-12 col-sm-12 text-center">
      <img src="https://preview.ibb.co/cTscTR/horizontal.png" class="img-fluid mt-4" alt="Responsive image">
    </div>
  </div>
</div>

<%# md and sm above %>


<div class="container-fluid d-none d-lg-block">
  <div class="row">

    <div class="col-xl-6 col-lg-6 text-center pt-5" style="background: #e3e3e3;">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p class="text-primary">Pre-order Hero today </p>
      <div align="center" class="embed-responsive embed-responsive-4by3">
    <video autoplay loop class="embed-responsive-item">
        <source src="https://videos.formlabs.com/temp/pilk/0530/camera.mp4" type="video/mp4">
    </video>
</div>
    </div>


 <div class="col-xl-6 col-lg-6 text-center pt-5" style="background: #353535;">
      <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p class="text-primary">Pre-order Hero today </p>
      <div align="center" class="embed-responsive embed-responsive-4by3">
    <video autoplay loop class="embed-responsive-item">
        <source src="https://videos.formlabs.com/temp/pilk/0603/headphones-landing.mp4" type="video/mp4">
    </video>
</div>
    </div>
   

  </div>
</div>
<%# lg and xl above %>



<div class="container-fluid d-lg-none">
  <div class="row">

    <div class="col-xl-6 col-lg-6 text-center pt-5" style="background: #e3e3e3;">
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p class="text-primary">Pre-order Hero today </p>
      <div align="center" class="embed-responsive embed-responsive-4by3">
    <video autoplay loop class="embed-responsive-item">
        <source src="https://videos.formlabs.com/temp/pilk/0530/camera.mp4" type="video/mp4">
    </video>
</div>
    </div>


 <div class="col-xl-6 col-lg-6 text-center pt-5" style="background: #353535;">
      <p class="lead text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p class="text-primary">Pre-order Hero today </p>
      <div align="center" class="embed-responsive embed-responsive-4by3">
    <video autoplay loop class="embed-responsive-item">
        <source src="https://videos.formlabs.com/temp/pilk/0603/headphones-landing.mp4" type="video/mp4">
    </video>
</div>
    </div>
   

  </div>
</div>

<%# md and sm above %>

<div class="container-fluid pt-5 feature-section d-none d-lg-block">
  <div class="row">
    <div class="col-xl-6 col-lg-6 text-center ">
    <img src="https://preview.ibb.co/eXUPsm/mod2.png" class="img-fluid" alt="Responsive image">
    </div>
    <div class="col-xl-6 col-lg-6 align-self-center">
      <h1 class="mb-5"> Lorem ipsum dolor sit amel </h1>
       

    <div class="card bg-light w-75 mt-5">
    <div class="card-body">
       <div class="media">
        <i class="fa fa-battery-full fa-2x align-self-center mr-5 text-muted" aria-hidden="true"></i>
      <div class="media-body">
    <h5 class="mt-0 font-weight-light">Media heading</h5>
     <p class="text-muted font-weight-light"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.</p>
      </div>
     </div>
    </div>
    </div>


    <div class="card border-0 w-75 mt-5">
    <div class="card-body">
       <div class="media">
        <i class="fa fa-microchip fa-2x fa-rotate-90 align-self-center mr-5 text-muted" aria-hidden="true"></i>
      <div class="media-body">
    <h5 class="mt-0 font-weight-light">Introducing The Hero Chip</h5>
    <p class="text-muted font-weight-light">The most powerful and smartest chip ever in a vape device, with ultra rapid speeds capable of delivering all day long.</p>
      </div>
     </div>
    </div>
    </div>

    </div>
  </div>
</div>



<%# lg and xl above %>

<div class="container-fluid mt-5 feature-section d-lg-none">
  <div class="row">
   
    <div class="col-xl-6 col-lg-6 align-self-center">
      <h1 class="mt-0"> Lorem ipsum dolor sit amel </h1>
       

    <div class="card bg-light mt-5">
    <div class="card-body">
       <div class="media">
        <i class="fa fa-battery-full fa-2x align-self-center mr-5 text-muted" aria-hidden="true"></i>
      <div class="media-body">
    <h5 class="mt-0 font-weight-light">Media heading</h5>
     <p class="text-muted font-weight-light"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.</p>
      </div>
     </div>
    </div>
    </div>


    <div class="card border-0 mt-5">
    <div class="card-body">
       <div class="media">
        <i class="fa fa-microchip fa-2x fa-rotate-90 align-self-center mr-5 text-muted" aria-hidden="true"></i>
      <div class="media-body">
    <h5 class="mt-0 font-weight-light">Introducing The Hero Chip</h5>
    <p class="text-muted font-weight-light"> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at.</p>
      </div>
     </div>
    </div>
    </div>

   <div class="col-md-12 col-sm-12 text-center ">
      <img src="https://preview.ibb.co/cTscTR/horizontal.png" class="img-fluid mb-3" alt="Responsive image">
      </div>

    </div>
  </div>
</div>

<%# md and sm above %>


<div class="container-fluid bg-light d-none d-lg-block">
  <div class="row">

      <div class="col-xl-6 col-lg-6 align-self-center">
        <h1 class="w-75 ml-5">Four Flavour Pods</h1>
        <h5 class="ml-5 mt-5">Florida Orange</h5>
        <p class="w-75 ml-5 mt-3 text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum nibh.</p>
        <h5 class="ml-5 mt-5">Brazilian Guava</h5>
        <p class="w-75 ml-5 mt-3 text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum nibh sit amet.</p>
        <h5 class="ml-5 mt-5">Caramel Tobacco</h5>
        <p class="w-75 ml-5 mt-3 text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <h5 class="ml-5 mt-5">Cool Mint</h5>
        <p class="w-75 ml-5 mt-3 text-muted"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum nibh sit amet.</p>
      </div>

    <div class="col-xl-6 col-lg-6 p-0">
       <img src="https://cdn.pbrd.co/images/GUPUJqH.png" class="img-fluid" alt="Responsive image">
    </div>

  </div>
</div>

<%# lg and xl above %>

<div class="container-fluid bg-light pt-5 d-lg-none">
  <div class="row">

      <div class="col-md-12 col-sm-12">
        <h1 class="mb-5">Four Flavour Pods</h1>
        <h5>Florida Orange</h5>
        <p class="text-muted mb-5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum nibh.</p>
        <h5>Brazilian Guava</h5>
        <p class="text-muted mb-5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum nibh sit amet.</p>
        <h5>Caramel Tobacco</h5>
        <p class="text-muted mb-5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <h5>Cool Mint</h5>
        <p class="text-muted mb-5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum nibh sit amet.</p>
      </div>

    <div class="col-md-12 col-sm-12 p-0">
       <img src="https://cdn.pbrd.co/images/GUPUJqH.png" class="img-fluid" alt="Responsive image">
    </div>

  </div>
</div>

