<div class="container-fluid ourstory-top-section d-none d-lg-block">
	<div class="row">
    	<div class="col-xl-8 col-lg-10 text-white">
	    	<h1 class="font-weight-light">Duis mollis, est non commodo luctus.</h1>
	    	<p class="lead mt-5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum nibh sit amet suscipit gravida. Fusce ornare tincidunt faucibus. Maecenas sodales lacinia porttitor. Mauris erat ipsum, lacinia vel lacus at, faucibus varius lacus. Donec vulputate, nibh ac scelerisque consequat, massa nibh mattis diam, eget auctor felis lectus nec lectus. Fusce nec dapibus felis.</p>
    	</div>
	</div>
</div>

<div class="container-fluid bg-light ourstory-quality-section d-none d-lg-block">
	<div class="row">	
    	<div class="col-xl-10 col-lg-10 text-center center-div">
			<img src="https://preview.ibb.co/cTscTR/horizontal.png" class="img-fluid" alt="Responsive image">
		</div>
		<div class="col-xl-4 col-lg-10 text-center center-div">
    		<h1 class="font-weight-light mt-5">Quality Construction</h1>
    		<p class="lead mt-5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum nibh sit amet suscipit gravida. Fusce ornare tincidunt faucibus.</p>
    	</div>
    	</div>
	</div>
</div>

<div class="container-fluid d-none d-lg-block">
	<div class="row"> 	
    	<div class="col-xl-6 col-lg-6 p-0">
			<img src="https://static.formlabs.com/static/formlabs-web-frontend/img/products/fuse1/mobile/lifestyle%402x.jpg?73898c5-4346535" class="img-fluid" alt="Responsive image">
    	</div>
		<div class="col-xl-6 col-lg-6 align-self-center">
	    	<h1 class="font-weight-light w-75 ml-5">Rapid SLS Protoyping</h1>
	    	<p class="lead mt-5 w-75 ml-5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum nibh sit amet suscipit gravida. Fusce ornare tincidunt faucibus. Maecenas sodales lacinia porttitor. Mauris erat ipsum, lacinia vel lacus at.</p>
	    </div>
	</div>
</div>

<div class="container-fluid d-none d-lg-block">
	<div class="row">
		<div class="col-xl-6 col-lg-6 align-self-center">
			<h1 class="font-weight-light w-75 ml-5">Our founders</h1>
	    	<p class="lead mt-5 w-75 ml-5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum nibh sit amet suscipit gravida. Fusce ornare tincidunt faucibus. Maecenas sodales lacinia porttitor. Mauris erat ipsum, lacinia vel lacus at.</p>
		</div>
		<div class="col-xl-6 col-lg-6 p-0">
			<img src="https://static.formlabs.com/static/formlabs-web-frontend/img/products/fuse1/mobile/lifestyle%402x.jpg?73898c5-4346535" class="img-fluid" alt="Responsive image">
		</div>
	</div>
</div>



<!-- XL and LG screen above -->


<div class="container-fluid d-lg-none bg-dark text-white pt-5 pb-5">
	<div class="row">
    	<div class="col-md-12 col-sm-12">
	    	<h1 class="display-4">Duis mollis, est non commodo luctus.</h1>
	    	<p class="lead mt-5"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum nibh sit amet suscipit gravida. Fusce ornare tincidunt faucibus. Maecenas sodales lacinia porttitor. Mauris erat ipsum, lacinia vel lacus at, faucibus varius lacus. Donec vulputate, nibh ac scelerisque consequat, massa nibh mattis diam, eget auctor felis lectus nec lectus. Fusce nec dapibus felis.</p>
    	</div>
	</div>
</div>

<div class="container-fluid bg-light d-lg-none">
	<div class="row">	
		<div class="col-sm-12 p-0">
			<img src="https://image.ibb.co/cPo7V6/side.png" class="img-fluid" alt="Responsive image">
		</div>
		<div class="col-md-12 col-sm-12 pb-5">
    		<h5>Quality Construction</h5>
    		<p class="mt-3"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum nibh sit amet suscipit gravida. Fusce ornare tincidunt faucibus.</p>
    	</div>
    	</div>
	</div>
</div>

<div class="container-fluid d-lg-none">
	<div class="row"> 	
    	<div class="col-md-12 col-sm-12 p-0">
			<img src="https://static.formlabs.com/static/formlabs-web-frontend/img/products/fuse1/mobile/lifestyle%402x.jpg?73898c5-4346535" class="img-fluid" alt="Responsive image">
    	</div>
		<div class="col-md-12 col-sm-12 mt-5 mb-5">
	    	<h5>Rapid SLS Protoyping</h5>
	    	<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum nibh sit amet suscipit gravida. Fusce ornare tincidunt faucibus. Maecenas sodales lacinia porttitor. Mauris erat ipsum, lacinia vel lacus at, faucibus varius lacus. Donec vulputate, nibh ac scelerisque consequat, massa nibh mattis diam, eget auctor felis lectus nec lectus. Fusce nec dapibus felis.</p>
	    </div>
	</div>
</div>

<div class="container-fluid d-lg-none">
	<div class="row">
		<div class="col-md-12 col-sm-12 p-0">
			<img src="https://static.formlabs.com/static/formlabs-web-frontend/img/products/fuse1/mobile/lifestyle%402x.jpg?73898c5-4346535" class="img-fluid" alt="Responsive image">
		</div>
		<div class="col-md-12 col-sm-12 mt-5 mb-5">
	    	<h5>Our Founders</h5>
	    	<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam interdum nibh sit amet suscipit gravida. Fusce ornare tincidunt faucibus. Maecenas sodales lacinia porttitor. Mauris erat ipsum, lacinia vel lacus at, faucibus varius lacus. Donec vulputate, nibh ac scelerisque consequat, massa nibh mattis diam, eget auctor felis lectus nec lectus. Fusce nec dapibus felis.</p>
	    </div>
	</div>
</div>






