<div class="container-fluid d-none d-lg-block footer">
	<div class="row">
	
		<div class="col-xl-4 col-lg-4 col-md-4 pt-4 pb-3">
			<address>
				Hero Limited<br>
				<small> 35-37 Ludgate Hill<br>
				London<br>
				EC4M 7JN<br> </small>

				<br><small>Hero, H, Hero Design, are trademarks and/or<br> registered trademarks of Hero Limited.</small>
			</address>
		</div>


		<div class="col-xl-4 col-lg-4 col-md-4 mt-5 pb-3">

			<address>
				Contact<br>
				<small>help@hero.com<br>
				0203 002 3619</small><br>
				<div class="mt-3">
				<i class="fa fa-instagram" aria-hidden="true"></i>
				<i class="fa fa-facebook-square" aria-hidden="true"></i>
				<i class="fa fa-twitter-square" aria-hidden="true"></i>	
				</div>	
			</address>

		</div>


			<div class="col-xl-4 col-lg-4 col-md-4 mt-5 pb-3">

			<address>
				We're hiring<br>
				<small>Careers</small>
				
			</address>

		</div>


	</div>
</div>



<div class="container-fluid d-lg-none text-center pt-3 footer">
	<div class="row">

		<div class="col-md-12 col-sm-12">

			<address>
				Contact<br>
				<small>help@hero.com | 0203 002 3619</small><br>
				<div class="mt-3">
				<i class="fa fa-instagram" aria-hidden="true"></i>
				<i class="fa fa-facebook-square" aria-hidden="true"></i>
				<i class="fa fa-twitter-square" aria-hidden="true"></i>	
				</div>	
			</address>

		</div>


			<div class="col-md-12 col-sm-12">

			<address>
				We're hiring<br>
				<small>Careers</small>
				
			</address>

		</div>

		<div class="ccol-md-12 col-sm-12">
			<address>
				<small>Hero Limited<br>
				 35-37 Ludgate Hill, London, EC4M 7JN<br> </small>

				<br><small>Hero, Hero Pod, Hero Chip, are trademarks and/or registered trademarks of Hero Limited.</small>
			</address>
		</div>



	</div>
</div>